# MT5 Configuration - Action Required - [Available trading modes = backtesting, live_trading]
MT5_USERNAME=1234567890
MT5_PASSWORD=secret_password
MT5_SERVER=server_from_broker
TRADING_MODE=backtesting

# Symbol Configuration
MT5_SYMBOLS=EURUSD,GBPJPY
MT5_TIMEFRAME=M30
NUMBER_OF_CANDLES=2000
HISTORICAL_TIMEFRAME=False
HISTORICAL_START_TIME=2026-06-01
HISTORICAL_END_TIME=2026-06-28

# Order Configuration
RISK_REWARD_RATIO=1
RISK_PERCENTAGE_PER_TRADE=0.01
MAX_MARGIN_UTILISATION=0.20
FX_COMMISSION_USD_PER_LOT=5  # FTMO commission rate as of August 2026.
CFD_COMMISSION_PERCENT=0.00004  # Highest FTMO commission rate as of August 2026.

# Strategy Configuration - [Available strategies = ema_cross_strategy]
STRATEGY=ema_cross_strategy

# EMA Cross Strategy Specific Configuration
EMA_PERIOD_ONE=50
EMA_PERIOD_TWO=200

# UI Cinfiguration - [Available loggging = INFO, DEBUG]
LOGGING_LEVEL=INFO
